* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


body {
  font-family: sans-serif;
  
}



/*------The backgrounds images is set with cover so its adjusts to the pages.----*/


#indexpage {
    background-image: url("https://raw.githubusercontent.com/mysan91/Milestoneproject2/master/images/index/index.jpg");
    background-size: cover; 
}

#level1 {
 background-image: url("https://raw.githubusercontent.com/mysan91/Milestoneproject2/master/images/level1/background.jpg");
 background-size: cover;
  }
    

  #level2 {
 background-image: url("https://raw.githubusercontent.com/mysan91/Milestoneproject2/master/images/level2/starwars.jpg");
 background-size: cover;
  }

  #level3 {
    background-color: green;

  }


  /*----Generall for alla pages-----*/ 

 


  /*------Index page----*/

ul {
    text-align: center;
}


h1 {
    font-size: 80px;
     color: yellow;
     padding: 0;
     text-align: center;
     text-shadow: 1px 1px 2px ;
     font-family: sans-serif;
     padding: 10px;
     text-shadow: 5px 5px 5px rgb(216, 133, 9);
     padding: 80px;
     margin-top: 100px;
     width: 100%;
  
}

    

h2 {
  font-size: 25px;
  color: yellow;
  font-family: sans-serif;
  padding: 0;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  text-shadow: 5px 5px 5px rgb(216, 133, 9);
  width: 100%;
}

h3 {

    font-size: 30px;
    color: yellow;
    font-family: sans-serif;
    padding: 0;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    text-shadow: 5px 5px 5px rgb(216, 133, 9);
  

}

button {
  margin: auto;
  cursor: pointer;
  position: relative;
  appearance: none;
  overflow: hidden;
  border: 10px;
  padding: 5px;
  background-color: transparent;
  font-size: 16px;
  color: white;
  transition: 0,5s; 
text-align: center;
border: 2px solid transparent;
-webkit-box-shadow: 2px 2px 2px 0px yellow, inset 2px 2px 10px 0px #000000, 5px 5px 15px 5px rgba(255,139,253,0); 
width: 50%;

}

button:after {
  background: green;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 0.5s;
}

button:hover {
  transform: scale(1.6, 1.6);
  color: black;
}

button:hover:after {
  transform: translateY(0);
}



/*------The get back button on the levels---*/




/*------level 1 ---*/
  
  .memory-game {
    
    margin: 5px auto 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
    align-items: center;
    position: relative;
    justify-content: center;
    height: 90vh;
    width: 50%;
      }
  
    
  .memory-card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.4s;
  }


/*------level 2 ---*/

  .memory-game2 {
    width: 1200px;
    height: 660px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .memory-card2 {
    width: calc(16% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.4s;
  }
  
  .memory-card2:active {
    transform: scale(0.95);
    transition: transform 0.1s;
    background-color: red;
}

.memory-card2.flip {
    transform: rotateY(180deg);
}



  /*------level 3 ---*/

  .memory-game3 {
    width: 1400px;
    height: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .memory-card3 {
    width: calc(13% - 10px);
    height: calc(13% - 20px);
    margin: 5px;
    position: relative;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.4s;
  }



  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: black;
  }

  .front-face {
    transform: rotateY(180deg);
}
