* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


body {
    display: flex;
}



/*------The backgrounds images is set with cover so its adjusts to the pages.----*/


#indexpage {
    background-image: url("https://raw.githubusercontent.com/mysan91/Milestoneproject2/master/images/index/index.jpg");
    background-size: cover; 
}

#level1 {
  background-image: url("images/level1/background.jpg");
    background-size: cover; 
}

#level2 {
  background-image: url("images/level2/starwars.jpg");
    background-size: cover; 
}

#level3 {
   background-color: lightblue;
    background-size: cover; 
}


ul {
    text-align: center;
}

/*-----------------------------------------------Level 2----------------------------------------------*/






/*-----------------------------------------------Level 3----------------------------------------------*/

