* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


body {
    display: flex;
}



/*------The backgrounds images is set with cover so its adjusts to the pages.----*/


#indexpage {
    background-image: url("https://raw.githubusercontent.com/mysan91/Milestoneproject2/master/images/index/index.jpg");
    background-size: cover; 
}

#level1 {
  background-image: url("images/level1/background.jpg");
    background-size: cover; 
}

#level2 {
  background-image: url("images/level2/starwars.jpg");
    background-size: cover; 
}

#level3 {
   background-color: lightblue;
    background-size: cover; 
}


ul {
    text-align: center;
}

h1 {
    font-size: 60px;
    color: white;
}

.button {
  margin: auto;
  cursor: pointer;
  position: relative;
  appearance: none;
  overflow: hidden;
  border: 10px;
  padding: 5px;
  background-color: transparent;
  font-size: 16px;
  color: white;
  transition: 0,5s; 
text-align: center;
border: 2px solid transparent;
}

.button:after {
  background: green;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 0.5s;
}

.button:hover {
  transform: scale(1.6, 1.6);
  color: black;
}

.button:hover:after {
  transform: translateY(0);
}
/*-----------------------------------------------Level 2----------------------------------------------*/






/*-----------------------------------------------Level 3----------------------------------------------*/

