* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


body {
    margin-top: 7rem;
    margin-bottom: 7rem;
}



/*------The backgrounds images is set with cover so its adjusts to the pages.----*/


#indexpage {
    background-image: url("https://raw.githubusercontent.com/mysan91/Milestoneproject2/master/images/index/index.jpg");
    background-size: cover; 
}

#level1 {
  background-image: url("images/level1/background.jpg");
    background-size: cover; 
}

#level2 {
  background-image: url("images/level2/starwars.jpg");
    background-size: cover; 
}

#level3 {
   background-color: lightblue;
    background-size: cover; 
}


ul {
    text-align: center;
}

h1 {
    font-size: 60px;
     color: white;
     padding: 0;
     text-align: center;
     text-shadow: 1px 1px 2px ;
     font-family: sans-serif;
}


h2 {
    font-size: 12px;
    color: white;
}
.button {
  margin: auto;
  cursor: pointer;
  position: relative;
  appearance: none;
  overflow: hidden;
  border: 10px;
  padding: 5px;
  background-color: transparent;
  font-size: 16px;
  color: white;
  transition: 0,5s; 
text-align: center;
border: 2px solid transparent;
}

.button:after {
  background: green;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 0.5s;
}

.button:hover {
  transform: scale(1.6, 1.6);
  color: black;
}

.button:hover:after {
  transform: translateY(0);
}


/*-------------all image cards--------------*/ 

img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  transition: width 0.7s, height 1s;
 }

 img:hover {
  opacity:0.9 !important;
  filter:alpha(opacity=70) !important; 
  width: 160px;
  height: 160px;
}
 




/*-----------------------------------------------Level 1----------------------------------------------*/

container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  justify-content: center;
  align-content: center;
  }





/*-----------------------------------------------Level 2----------------------------------------------*/

.container2 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  justify-content: center;
  align-content: center;
  }

  
/*-----------------------------------------------Level 3----------------------------------------------*/

.container3 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  justify-content: center;
  align-content: center;
  }

